
body{
    align-items: center;  
    justify-content: center;
    display: flex;
    opacity: 80%;
    background:url(../İmage/register.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .registerbox{
    position: relative;
   background:linear-gradient(transparent,black,white);
   width: 300px;
   height: 500px;
   margin-top: 50px;
   color: black;
   font-weight: bolder;
   border-radius: 50px;
   font-size: 1em;
   letter-spacing: 0.05em;

}

    .registerform{
        position: relative;
       margin-top: 20px;
        inset: 2px;
        align-items: center;  
        flex-direction: column;
        display: flex;
        color: rgb(248, 248, 248);
       
        
        
    }
h2{
    font-size: 30px;
    margin-top: 30px ;
    text-align: center;
}

.textinput{
    width: 65%;
    border-radius: 10px;
    background:linear-gradient(white);
    color: black;
    font-weight: 500;
}

    .buton{
        font-size: 20px;
        border: none;
        outline: none;
        background: rgb(255, 255, 255); 
        padding: 5px;
        margin-top: 25px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 20px;
    }

    .buton:hover{
        color: white;
       background-color: rgb(0, 0, 0);
       box-shadow: 0 0  80px rgb(0, 0, 0);
       
      }