body{
    background:url(../İmage/Welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --clr-neon: hsl(19, 100%, 50%);
  --clr-bg: hsl(323 21% 16%);
}

.buton{
 margin-top: 10%;
font-family: "montserrat";
font-weight: bold;
 position: absolute;
 color: white;
 background-color: rgb(255, 115, 0);
 transition: 0.5s;
border: solid black;
border-radius: 20%;
width: 5% ;
text-align: center;
text-decoration: none;

}

.buton:hover{
  color: white;
 background-color: crimson;
 box-shadow: 0 0  60px crimson;
 
}